<%
  cnt = 1
  recognize_date = t('rumi.doclibrary.th.recognize_date')
%>
<%unless @recogusers.blank?%>
  <table class="defaultTable downloadTable">
    <tbody>
      <tr>
        <th><%= t('rumi.doclibrary.th.recognizer') %></th>
        <td>
          <% for recoguser in @recogusers %>
            <div class="recognizeSet">
              <span>
                <%=%Q[#{recoguser.name} /]%>
                <%=
                  if recoguser.recognized_at.blank?
                    t('rumi.doclibrary.th.not_recognize')
                  else
                    %Q[#{recognize_date}:#{(I18n.l recoguser.recognized_at).to_s}]
                  end
                %>
              </span>
              <% unless cnt == @recogusers.size %>
                <span>,&nbsp;</span>
              <% end %>
              <% cnt = cnt + 1 %>
            </div>
          <%end%>
        </td>
      </tr>
    </tbody>
  </table>
<%end%>