<%# 記事管理の左サイド、%>
<!--
<%#if @title.left_banner.blank?%>
  <%#=link_to h(@title.title), @title.docs_path %>
<%#else%>
  <%#*<a href ="<%=@title.docs_path%>">%>
  <%#=@title.left_banner.to_s%>
  <%#*</a>%>
<%#end%>
-->
<div class="sideMenu">
  <div class="menuBody">
  </div>
</div>
