<header class="entryHeader">
  <h2><%= @piece_head_title %></h2>
  <% if new %>
    <span class="navBlock">
      <div class="newEdit">
        <%= link_to image_tag("/images/icon/add.png", alt: "#{t("rumi.button.new")}") + t("rumi.button.new"), new_gw_prop_group_path %>
      </div>
    </span>
  <% end %>
</header>
